/* names are defined in html */
:root {
	--base: #ffc600;
	--spacing: 0.7px;
	--blur: 10px;
}

body {
	text-align: center;
	background: #193549;
	color: white;
	font-weight: 80;
	font-size: 3em;
}

.controls {
	margin-bottom: 1em;
}

input {
	width: 100%;
}

img {
	width: 20%;
	height: auto;
	/* padding based on variable spacing */
	padding: var(--spacing);
	background: var(--base);
	filter:blur(var(--blur));
}

/* any class with h1 will have the color of the variable base */
.h2 {
	color: var(--base);
}


/* enables stylings in chrome in responsive mode */
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff;
  height: 18px;
  width: 18px;
  margin-top: -8px;
  border-radius: 99px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 4px;
  background: #ddd;
}