:root {
	--base: #ffc600;
	--spacing: 0.7px;
	--blur: 10px;
}

body {
	text-align: center;
	background: #193549;
	color: white;
	font-weight: 80;
	font-size: 3em;
}

.controls {
	margin-bottom: 3em;
}

img {
	width: 20%;
	height: auto;
	/* padding based on variable spacing */
	padding: var(--spacing);
	background: var(--base);
	filter: var(--blur);
}

/* any class with h1 will have the color of the variable base */
.h1 {
	color: var(--base);
}